/ads.i.php
/ads_q.i.php
/claim_options.i.php
/claim_options_process.i.php
/config.php
/head.i.php
/iframetraffic.i.php
/navbar.i.php

# These files are just used by me. (The git repository is my actual site)
/.htaccess
/403.html
/blacklist.php
/face.svg
/tx
