/ads.i.php
/ads_q.i.php
/config.php
/head.i.php
/iframetraffic.i.php
/navbar.i.php

# These files are just used by me, 0xc9. (The git repository is my actual site)
/.htaccess
/403.shtml
/add.php
/admin.php
/ban.lib.php
/blacklist.php
/claim.php
/face.svg
