/* Put "font-size" in ":root", everything else is relative. */

@keyframes RAINBOW {
  0% {
    color: #333;
  }
  20% {
    color:#06C;
  }
  40% {
    color:#090;
  }
  60% {
    color:#FC0;
  }
  80% {
    color:#F00;
  }
  100% {
    color:#606;
  }
}

/* :root {{{ */
:root {
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #333 0%, #06C 20%, #09C 40%, #FC0 60%, #F00 80%, #606 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Linux Biolinum, Linux Biolinum O, FreeSans, sans-serif;
    font-feature-settings: "expt", "falt", "fina", "init", "isol", "jalt", "medi";
    font-kerning: auto;
    font-language-override: normal;
    font-synthesis: weight style;
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

@media all and (min-resolution: 90dpi) {
    :root {
        font-family: Linux Libertine, Linux Libertine O, FreeSerif, serif;
    }
}
/* }}} */
/* a[href] {{{ */
a[href] {
    color: blue;
    text-decoration: none;
}
/* }}} */
/* a[href]:hover {{{ */
a[href]:hover {
    text-decoration: underline;
}
/*  img {{{ */
a[href]:hover img {
    text-decoration: none;
}
/* }}} */
/* }}} */
/* a[href]:visited {{{ */
a[href]:visited {
    color: purple;
}
/* }}} **/
/* a[title] {{{ */
a[title] {
    background-color: lightgreen;
}
/* }}} */
/* article {{{ */
article {
    page-break-inside: avoid;
}
/* }}} */
/* aside {{{ */
aside {
    border: groove;
    clear: right;
    float: right;
    margin-bottom: 1ex;
    margin-left: 1ex;
    margin-right: 0;
    margin-top: 1ex;
}
@media all and (min-width: 80ex) {
    aside {
        max-width: 50%;
    }
}
/* }}} */
/* blockquote {{{ */
blockquote {
    border-left: solid grey 0.3ch;
    color: #333333;
    padding-left: 1ex;
    margin-left: 1.5em;
}
/* >p {{{ */
blockquote>p {
    max-width: calc(80ch - (1.5em + 1ex + 0.3ch));
    padding-left: 0;
}
/* }}} */
/* }}} */
/* body {{{ */
body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
/* }}} */
/* canvas {{{ */
canvas {
    image-rendering: optimizespeed;
}
/* }}} */
/* code {{{ */
code {
    background-color: #EEE;
    border-radius: 0.5ch;
    border: solid 0.2ch #DDD;
    font-family: monospace; /* TODO */
}
/*  var {{{ */
code var {
    font-family: inherit;
    font-style: italic;
}
/* }}} */
/* }}} */
/* (h1,h2,h3,h4,h5,h6) code {{{ */
/* Ugh. Is there a better way? */
h1 code,h2 code,h3 code,h4 code,h5 code,h6 code {
    background-color: inherit;
    border: none;
}
/* }}} */
/* div.tab {{{ */
div.tab {
    display: none;
}
/* }}} */
/* div.tab:target {{{ */
div.tab:target {
    display: block !important;
}
/* }}} */
/* dl {{{ */
/* >dd {{{ */
dl>dd {
    font-size: 0.95em;
    hyphens: auto;
    text-align: justify;
}
/* }}} */
/* >dt {{{ */
dl>dt {
    font-size: 1em;
    font-weight: bolder;
    hyphens: auto;
    text-align: justify;
}
/* }}} */
/* }}} */
/* dl.ul {{{ */
/* An unordered list with descriptions for the items. */
dl.ul {
    display: block;
    margin-left: 2em;
}
/* >dd {{{ */
dl.ul>dd {
    font-size: 1em;
}
/* }}} */
/* >dt {{{ */
dl.ul>dt {
    display: list-item;
    font-weight: normal;
    list-style-type: disc;
}
/* }}} */
/* }}} */
/* dl.lua_table {{{ */
/* A discription of the contents of a Lua table. */
/* >dd {{{ */
/* Description of the entry. */
dl.lua_table>dd {
    font-size: 0.95em;
}
/* }}} */
/* >dt {{{ */
dl.lua_table>dt {
    font-size: 1em;
    font-weight: inherit;
}
/*  code {{{ */
dl.lua_table>dt code {
    background-color: inherit;
    border-radius: 0;
    border: none;
}
/* }}} */
/* }}} */
/* }}} */
/* figure {{{ */
figure {
    border: groove;
    clear: right;
    float: right;
    margin-bottom: 1ex;
    margin-top: 1ex;
}
/* >figcaption {{{ */
figure>figcaption {
    border-top: thin solid;
    display: block;
    font-size: 0.95em;
    padding-bottom: 0.5ex;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5ex;
}
/* }}} */
/* }}} */
/* footer {{{ */
footer {
    background-color: #EEE;
    border-radius: 2vw 2vw 0 0;
    border-top: solid;
    display: block;
    flex: 0 0 auto;
    margin: 0;
    max-width: 100%; /* not sure why, but this is necessary (instead of width) */
    padding-left: 2vw;
    padding-right: 2vw;
}
/* >hr {{{ */
footer>hr {
    margin-left: -1vw;
    margin-right: -1vw;
}
/* }}} */
/* }}} */
/* h1 {{{ */
h1 {
    border-bottom: double 0.2em;
    font-size: 2em;
    font-variant: small-caps;
    width: inherit;
}
/* }}} */
/* h1:first-child {{{ */
h1:first-child {
    margin-top: 0;
}
/* }}} */
/* h2 {{{ */
h2 {
    border-bottom: solid 0.1em;
    font-size: 1.83em;
    width: inherit;
}
/* }}} */
/* h3 {{{ */
h3 {
    border-bottom: dashed 0.1em;
    font-size: 1.66em;
    width: inherit;
}
/* }}} */
/* h4 {{{ */
h4 {
    border-bottom: dotted 0.1em;
    font-size: 1.5em;
    width: inherit;
}
/* }}} */
/* h5 {{{ */
h5 {
    font-size: 1.33em;
}
/* }}} */
/* h6 {{{ *
h6 {
    font-size: 1.16em;
}
/* }}} */
/* h1,h2,h3,h4,h5,h6 {{{ */
h1,h2,h3,h4,h5,h6 {
    display: block;
    font-family: Linux Libertine Display, Linux Libertine Display O, FreeSerif, serif;
    font-feature-settings: "salt", "titl";
    font-variant-caps: titling-caps;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    padding-left: 0.25ch;
    padding-right: 0.25ch;
}
/* }}} */
/* head {{{ */
head {
    display: none;
}
/* }}} */
/* header {{{ */
header {
    background-color: #EEE;
    border-bottom: solid;
    border-radius: 0 0 2vw 2vw;
    display: block;
    flex: 0 0 auto;
    margin: 0;
    max-width: 100%; /* not sure why, but this is necessary (instead of width) */
    padding-left: 2vw;
    padding-right: 2vw;
}
/* }}} */
/* img {{{ */
img {
    image-rendering: optimizespeed;
}
/* }}} */
/* kbd {{{ */
/* A <kbd> element represents user input. */
kbd {
    font-family: monospace; /* TODO */
}
/*  kbd {{{ */
/* When a <kbd> element is nested inside another <kbd> element, it
 * represents an actual key or other single unit of input as appropriate
 * for the input mechanism. */
kbd kbd {
}
/* }}} */
/*  samp {{{ */
/* When a <kbd> element contains a <samp> element, it represnts input
 * based on system output. */
kbd samp {
    /* not sure how to use this */
}
/* }}} */
/* }}} */
/* li {{{ */
/* An item in a list. */
li {
    hyphens: auto;
    text-align: justify;
}
/* }}} */
/* main {{{ */
main {
    background-color: #EEE;
    flex: 1 0 auto;
    margin-bottom: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0;
    padding: 0;
}
/* }}} */
/* decrease max width in sections {{{ */
main>p                                          {max-width: 80ch}
main>ul                                         {max-width: calc(80ch - 2em)}
main>dl                                         {max-width: 80ch}

main>section>p                                  {max-width: 79ch}
main>section>ul                                 {max-width: calc(79ch - 2em)}
main>section>dl                                 {max-width: 79ch}

main>section>section>p                          {max-width: 78ch}
main>section>section>ul                         {max-width: calc(78ch - 2em)}
main>section>section>dl                         {max-width: 78ch}

main>section>section>section>p                  {max-width: 77ch}
main>section>section>section>ul                 {max-width: calc(77ch - 2em)}
main>section>section>section>dl                 {max-width: 77ch}

main>section>section>section>section>p          {max-width: 76ch}
main>section>section>section>section>ul         {max-width: calc(76ch - 2em)}
main>section>section>section>section>dl         {max-width: 76ch}

main>section>section>section>section>section>p  {max-width: 75ch}
main>section>section>section>section>section>ul {max-width: calc(75ch - 2em)}
main>section>section>section>section>section>dl {max-width: 75ch}
/* }}} */
/* nav.navbar {{{ */
nav.navbar {
    background-color: #000;
    border-radius: 1ch 1ch 1ch 1ch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.1ch;
}
/* >a[href] {{{ */
nav.navbar>a[href] {
    background-color: #777;
    border-radius: 0.5ch 0.5ch 0.5ch 0.5ch;
    color: #EEE;
    margin: 0.2ch;
    min-width: 3ch;
    padding: 0.3ch;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, margin-top 0.3s, margin-bottom 0.3s, margin-left 0.3s, margin-right 0.3s, padding-top 0.3s, padding-bottom 0.3s, padding-left 0.3s, padding-right 0.3s;
    vertical-align: middle;
}
/*  * {{{ */
nav.navbar>a[href] * {
    vertical-align: middle;
}
/* }}} */
/* }}} */
/* >a[href]:active {{{ */
nav.navbar>a[href]:active {
    background-color: #222;
    color: #FFF;
}
/* }}} */
/* >a[href]:hover {{{ */
nav.navbar>a[href]:hover {
    background-color: #FFF;
    color: #222;
    margin: 0;
    padding: 0.5ch;
    text-decoration: none;
}
/* }}} */
/* +nav.navbar {{{ */
nav.navbar+nav.navbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 0.05ch;
}
/* }}} */
/* -nav.navbar {{{ */
/* TODO: There is no such selector yet, so we have to use a class. */
nav.followed_by_navbar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0.05ch;
}
/* }}} */
/* }}} */
/* p {{{ */
p {
    font-size: 1em;
    hyphens: auto;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-left: 1ch;
    padding-right: 1ch;
    text-align: justify;
}
/* }}} */
/* p.caption {{{ */
p.caption {
    margin-bottom: 0.5ex;
}
/* }}} */
/* p.function_signature {{{ */
/* Like a subtitle, for showing a function interface. */
p.function_signature {
    margin-top: 0.5em;
    margin-left: 4ch;
}
/* }}} */
/* pre {{{ */
pre {
    background-color: #EEE;
    border-radius: 0.5ch;
    border: solid 0.2ch #DDD;
    font-family: monospace; /* TODO */
    overflow-x: auto;
    padding: 0.5ex;
}
/* >code {{{ */
pre>code {
    background-color: inherit !important;
    border-radius: 0 0 0 0 !important;
    border: none !important;
}
/* }}} */
/* }}} */
/* r {{{ */
/* Custom tag. Resets bold/italic. */
r {
    font-weight: normal;
    font-style: normal;
}
/* }}} */
/* samp {{{ */
/* System/program output. */
samp {
    font-family: monospace; /* TODO */
}
/* }}} */
/* section {{{ */
section {
    margin-left: 1ch;
    page-break-inside: avoid;
}
/* }}} */
/* span.currency {{{ */
span.currency {
    text-transform: lowercase;
    font-variant-caps: small-caps;
}
/* TODO: add a javascript thing that replaces known currency codes with their symbols? */
/* }}} */
/* span.footnote {{{ */
span.footnote {
    font-size: 0.83em;
    vertical-align: super;
}
/* }}} */
/* span.math {{{ */
/* Similar to LaTeX's math mode, changes the font and stuff. */
span.math {
    font-variant-numeric: lining-nums;
}

/* A mathmatical variable. */
span.math var {
    font-family: inherit !important;
}
span.math var::before {content: '(';}
span.math var::after {content: ')';}
/* }}} */
/* .oldstylenums {{{ */
.oldstylenums {
    font-variant-numeric: oldstyle-nums;
}
/* }}} */
/* table.generic {{{ */
table.generic {
    border-collapse: collapse;
    border: solid 1px;
}
/*  thead {{{ */
table.generic thead {
    background-color: #D0D0D0;
    border-bottom: solid 2px;
}
/* }}} */
/*  tbody {{{ */
table.generic tbody {
    background-color: #FEFEFE;
}
/*  tr:nth-child(even) {{{ */
table.generic tbody tr:nth-child(even) {
    background-color: #EEEEEE;
}
/* }}} */
/* }}} */
/*  tr {{{ */
table.generic tr {
    border: solid 1px;
    transition: background-color 0.5s;
}
/* }}} */
/*  tr:hover {{{ */
table.generic tr:hover {
    background-color: #BBBBBB !important;
}
/* }}} */
/*  td {{{ */
table.generic td {
    border: solid 1px;
    padding: 0.2ch;
}
/* }}} */
/*  th {{{ */
table.generic th {
    border: solid 1px;
}
/* }}} */
/* }}} */
/* ul {{{ */
ul {
    padding-left: 2em;
}
/* }}} */
/* var {{{ */
/* A variable in a mathematic/programming context. */
var {
    font-family: monospace; /* TODO */
    font-style: italic;
}
/* }}} */

div#hostad {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    background-color: #EEE;
    border-radius: 1vw 0 0 0;
    border-top: solid;
    border-left: solid;
}
